version: '3'
services:
  web1:
    build:
      context: ./app
      dockerfile: Dockerfile
    ports:
      - '3001:3000'
    depends_on:
      - mongo
  web2:
    build:
      context: ./app
      dockerfile: Dockerfile
    ports:
      - '3002:3000'
    depends_on:
      - mongo

  mongo:
    build:
      context: ./mongodb
      dockerfile: Dockerfile
    ports:
      - '27017:27017'
    volumes:
      - ./mongodb/data.js:/docker-entrypoint-initdb.d/data.js
