global
  stats socket /var/run/api.sock user haproxy group haproxy mode 660 level admin expose-fd listeners
  log stdout format raw local0 info

defaults
  log global
  mode tcp
  timeout client 50000
  timeout connect 500
  timeout server 50000
  timeout http-request 10s

frontend localnodes
  bind *:3000
  default_backend nodes

backend nodes
  server workmission-web2 127.0.0.1:3001 check
  server workmission-web1 127.0.0.1:3002 check
